.form {
    max-width: 300px;
}

.form *[class=form-control] {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
}

.formHeader {
    font-size: 25px;
}

.submit {
    width: 90%;
    margin-top: 20px;
}
