* {
    box-sizing: border-box;
}

.dnd-area {
    width: 100vw;
    height: 100vw;
    max-width: 300px;
    max-height: 300px;
    border: 4px dashed #005cbf;
    cursor: pointer
}

.dnd-area__active {
    background-color: #eef;
}

.dnd-img {
    object-fit: cover;
}
